/********  general  ***********/

:root{
    ---txt-color:#495057;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Kode Mono',sans-serif;
    background-color: lightgray;
}

.container{
    width: 85%;
    max-width: 1240px;
    margin-left:auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color:#495057;
    font-size: 1.3em;
}

a:hover{
    opacity: 0.2;
   
}
/*********** header-section  *******/
.nav-header{
    display: flex;
    justify-content: space-between;
    
}

.main-title{
    color:#495057;
}

.nav-items{
    justify-content: stretch;
    margin-top: 2%;
    display: flex;
    gap: 20px;
}

/******  project-secction  ************/
.projects-section{
    padding-top: 10%;
    display: flex;
    justify-items: center;
}

.project-1{
    display: flex;
    background-color:#495057;
    width: 480px;
    height: 280px;
    border-radius: 20px 0px 0px 20px;
}

.p1{
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border:2px solid #495057;
    background-color: lightgray;
    font-size: 1em;
}

.project-2{
    position: relative;
    left: 63%;
    background-color: #ffff;
    width: 480px;
    height: 280px;
    border-radius: 5px 20px 20px 5px;
}

.project-details{
    padding-left: 25px;
}

.project-details h2{
    color: whitesmoke;
    padding-left: 25px;
}

.project-details p {
    padding-left: 25px;
    width: 80%;
}

li{
    list-style: none;
}

.project-image img{
    border-radius: 20px 5px 5px 20px;
    width: 490px;
    height: 280px;
    object-fit: cover;
}
