/*********** General *********/
:root{
    ---txt-color:gray;
}

*{
    font-family: 'kode Mono',sans-serif;
}

.main-container{
    width: 75%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: var(---txt-color);
    font-size: 20px;
}

a:hover{
    opacity: 0.4;
}


/******* header-section ******/
.nav-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    font-size: 39px;
    color: var(---txt-color);
}


.nav-items{
    justify-content: stretch;
    margin-top: 2%;
    display: flex;
    gap: 20px;
}

/******* intro-section *******/

.intro-section{
    
}
.intro-content{
    margin-top: 200px;
    color: var(---txt-color);
    line-height: 18px;
    text-align: center;
}

.intro-content h2{
    font-size: 46px;
}

.intro-content p{
    font-size: 19px;
}

.intro-btn{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid darkgray;
    background-color: #fff;
    font-size: 0.9em;
}


/********* Technical-skills ********/

.skills-content{
    line-height: 65px;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
  
    gap: 30px;
    color: var(---txt-color);
    margin-top: 230px;
    justify-content: space-evenly;
    border: 2px solid darkgray;
    border-radius: 15px;
    
}

li{
    list-style: none;

}

/******** About-section **********/
.About-content{
    margin-top: 120px;
    color: var(---txt-color);
    margin-bottom: 10%;
}

.About-content h2{
    font-size: 39px;
    text-align: center;
    color: var(---txt-color);
}

.About-content p{
    font-family: 'Reddit-Mono',sans-serif;
}
/*********  Education  ********/
.Education-content{
    background-color: lightgray;
    color: gray;
}

.Education-content h2{
    font-size: 39px;
    text-align: center;
}

.Education-content p{
    justify-content: baseline;
    font-family: 'Reddit-Mono',sans-serif;
}
/************  footer-section  ***********/

.footer-section{
    display: flex;
    justify-content: center;
}



.fa-github{
    font-size: 35px;
}

.fa-linkedin{
    font-size: 35px;
}

.fa-envelope{
    font-size: 35px;
}




/********  media-query  *********/

@media screen and (min-width: 375px){
    .main-container{
        max-width: 1440px;
    }

    .nav-bar{
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .intro-section{
        display: flex;
        flex-wrap: wrap;
        line-height: 35px;
    }
    
    .projects-section{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}
