/*********** utils *********/
:root{
    ---txt-color:gray;
    ---bg-color:#ffffff;

}

*{
    font-family: 'kode Mono',sans-serif;
}


h2{
    font-size: 46px;
}


p {
    font-size: 19px;
}

/******  components  ********/

a {
    text-decoration: none;
    color: var(---txt-color);
    font-size: 20px;
}

a:hover{
    opacity: 0.4;
}

/********  body  *********/
.main-container{
    width: 75%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
    padding: 0;

}


/******* header-section ******/
.nav-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    font-size: 39px;
    color: var(---txt-color);
}


.nav-items{
    justify-content: stretch;
    margin-top: 2%;
    display: flex;
    gap: 20px;
}

/******* intro-section *******/

.Intro-section{
    
}
.intro-content{
    margin-top: 200px;
    color: var(---txt-color);
    line-height: 28px;
    text-align: center;
}

.intro-content h2{
    line-height: 40px;
    font-size: 2.875rem;
}

.intro-content p{
    font-size: 1.188;
}

.intro-btn{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid darkgray;
    background-color: #fff;
    font-size: 0.9em;
}


/********* Technical-skills ********/

.skills-content{
    line-height: 75px;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 30px;
    color: white;
    margin-top: 170px;
    justify-content: space-evenly;
    background-color:lightgray;
}


li{
    list-style: none;

}

/******** About-section **********/
.About-content{
    margin-top: 120px;
    color: var(---txt-color);
    margin-bottom: 10%;
}

.About-content h2{
    font-size: 39px;
    color: var(---txt-color);
}

.About-content p{
    font-family: 'Reddit-Mono',sans-serif;
}




/************  contact-section  ***********/

.contact-content{
    background-color: lightgray;
}

.contact-content h2{
    padding: 15px 15px 0px 0px ;
    padding-left: 15px;
    display: flex;
    justify-content:center;
    color: gray;
    font-size: 39px;

  
}
.contact-form{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}


input {
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius:3px;
    width: 280px;
    border: 0;
    border-bottom: solid white;
}

textarea{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    border-radius: 4px;
    border: 0;
    width: 280px;
    height: 50px;
}


.right-container{
    display: flex;
    padding: 55px 15px 55px 45px ;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.social-media{
    text-align: center;

    
}

.fa-github{
    color: #fff;
    font-size: 35px;
}

.fa-linkedin{
    color: #fff;
    font-size: 35px;
}

.fa-envelope{
    color: #fff;
    font-size: 35px;
}




/********  media-query  *********/

@media screen and (max-width: 480px){
    .main-container{
        width: 75%;
        max-width: 1440px;
    }

    .nav-bar{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
      
    }
    .intro-section{
        display: flex;
        flex-wrap: wrap;
        line-height: 55px;
    }

    .skills-content{
        display: flex;
        flex-wrap: wrap;
    }
}
